/*초기화*/
body{
    box-sizing: border-box;
}

#wrap{
    max-width: 20px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: white;
    font-size: large;
}

nav #logo{
    background-color: black;
    width: 70px;
}
nav{
    background-color: black;
    display: flex;
    justify-content: center;
    
}
nav.logo{
    background-color:  rgb(34, 32, 32);
}
nav ul{
    display: flex;
    align-items: center;
    margin-right: 80px;
    list-style-type: none;
    list-style: none;
}
nav ul li {
    align-items: center;
    font-size: small;
    margin-left: 50px;
    
}
nav ul li a {
    color: #8e8e94;
}
nav ul li a:hover {
    color: white;
}


button{
    width: 80px;
    height: 40px;
    background-color: #004fff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
    top:550px;
    left:50%;
    transform: translate(-50%, -50%);
}

button:focus{
    outline: 0;
}

button:hover{
    cursor: pointer;
}

main div{
    background-color: white;
}

.full-page{
    height: 100vh;
}
#home{
    display: flex;
    justify-content: center;
}
#home h1{
    padding-top: 10rem;
    font-size: 5rem;
    color: white;
    align-items: center;
}

/*main------------------------------------------*/
#main-header {
    text-align: center;
    background-color: rgb(17,17,17);
    text-align: center;
}
#sub-header p{
    
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: center;
    background-color: rgb(42, 5, 253);
    font-size: small;
    font-weight: bold;
    color: white;
}
#main-content {
    background-color: black;
}
#main-content h1{
    font-size: 30px;
    padding-top: 5rem;
    color: white;
    text-align: center;   
    font-weight: bold;
}
#main-content img{
    text-align: center;
}

#main-content h2{
    padding-top: 0.5rem;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;   
}
#main-content h3{
    padding-top: 2rem;
    color : white;
    text-align: center;
    font-size: 25px;
    font-weight: small;
    padding-bottom: 10rem;
}

#main-content a{
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 245);
    font-weight: bolder;
}
#main-content p{
    padding-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
}
#main-content img{
    padding-left: 6.5rem;
}